
.container
    width: 100%
    max-width: 100%
    margin-inline: auto
    padding-inline: 15px
    @media (min-width: 576px)
        padding-inline: 20px
    @media (min-width: 1024px)
        max-width: 1010px
    @media (min-width: 1200px)
        max-width: 1150px
    @media (min-width: 1351px)
        max-width: 1190px
    @media (min-width: 1441px)
        max-width: 1260px
    @media (min-width: 1551px)
        max-width: 1390px
    @media (min-width: 1771px)
        max-width: 1720px
