@use '../0-abstracts/' as *

.sustainabilityPage
    .sustbokap
        padding-block: 40px
        @media (min-width: 1551px)
            padding-block: 60px
        @media (min-width: 1771px)
            padding-block: 80px
    .advantagesecbg
        .souceboxjk
            ul
                li
                    min-height: auto
                    padding: 20px
                    @media (min-width: 992px)
                        padding: 30px
                    @media (min-width: 1551px)
                        padding: 40px
                    @media (min-width: 1771px)
                        padding: 50px
                    h2
                        @media (max-width: 576px)
                            font-size: 40px
                            margin-bottom: 30px
                    h3
                        @media (max-width: 576px)
                            font-size: 18px
                    p
                        margin-bottom: 0
                        @media (max-width: 576px)
                            font-size: 13px
