
@use "variables" as *
@use "mixins" as *

%mTle
    font-size: 22px
    line-height: 1.2
    font-weight: 600
    color: $black
    @media (min-width: 576px)
        font-size: 28px
    @media (min-width: 1024px)
        font-size: 31px
    @media (min-width: 1200px)
        font-size: 37px
    @media (min-width: 1551px)
        font-size: 46px
%pTxt
    font-size: 13px
    line-height: 1.6
    font-weight: 400
    font-family: $fontstack
    color: $black
    @media (min-width: 1024px)
        font-size: 14px
    @media (min-width: 1551px)
        font-size: 16px
    @media (min-width: 1771px)
        font-size: 18px

%baseBtn
    @include defaultValue
    font-size: 13px
    line-height: 1.4
    font-weight: 400
    font-family: $fontstack
    // letter-spacing: 20%
    letter-spacing: 0.20em
    color: $white
    width: 100%
    height: auto
    @include center
    @media (min-width: 576px)
        font-size: 14px
        // letter-spacing: 35%
        letter-spacing: 0.35em
    @media (min-width: 1771px)
        font-size: 15px
    span
        margin: 0 2px
        @media (min-width: 576px)
            margin: 0 4px
        svg, img
            fill: $white
            display: block
            transition: transform 0.4s
            @include imgFit

%labelTxt
    font-size: 11.25px
    line-height: 1.2
    font-weight: 300
    font-family: $fontstack
    color: $text1
    @media (min-width: 1024px)
        font-size: 12px
    @media (min-width: 1551px)
        font-size: 14.54px
    @media (min-width: 1771px)
        font-size: 18px

%form-control-txt
    font-size: 12px
    line-height: 1.2
    font-weight: 500
    font-family: $fontstack
    color: $black
    @media (min-width: 1024px)
        font-size: 12px
    @media (min-width: 1200px)
        font-size: 14px
    @media (min-width: 1551px)
        font-size: 16.6px

%form-control
    @extend %form-control-txt
    font-size: 11px
    color: $text1
    width: 100%
    height: 28px
    border: 1px solid rgba(0, 0, 0, 0.3)
    border-radius: 0
    -webkit-border-radius: 0
    background: transparent
    padding: 5px 10px
    transition: all .4s ease
    align-items: center
    @include display
    @media (min-width: 1200px)
        height: 30px
        padding: 10px 10px
    @media (min-width: 1551px)
        font-size: 13px
        height: 43px
        padding: 10px 12px
    @media (min-width: 1771px)
        font-size: 16px
        height: 53px
    &:valid ~ .showPass
        opacity: 1
        pointer-events: all
    &::placeholder
        font-weight: 300
        text-transform: none
        font-size: 11px
        color: $text1
        @media (min-width: 1551px)
            font-size: 13px
        @media (min-width: 1771px)
            font-size: 16px
    &:focus
        color: $black
        border-color: rgba($basecolor, 0.6)
        box-shadow: 0 0 0 .15rem rgba($basecolor2,.0)
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active
        -webkit-box-shadow: 0 0 0 30px rgba(#d9d9d9, 0.1) inset
        -webkit-text-fill-color: $black
        transition: background-color 5000s ease-in-out 0s
    &:-internal-autofill-selected
        background-color: -internal-light-dark(rgb(0, 0, 0), rgba(70, 90, 126, 0.4))
        -webkit-box-shadow: 0 0 0 30px rgba(#d9d9d9, 0.1) inset
    &::-ms-expand
        background-color: transparent
        border: 0
    @media (prefers-reduced-motion: reduce)
        transition: none
